<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produtos Disponíveis</h1>
    <ul>
        {{#each informacoes}}
        <li>
            <h2>{{this.nome}}</h2>
            <p><strong>Preço:</strong> R$ {{this.preco}}</p>
            <p><strong>Descrição:</strong> {{this.descricao}}</p>
        </li>
        {{/each}}
    </ul>
</body>
</html>
